
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;

}
::-webkit-scrollbar {
  display: none;
}






/* header css */


.header{
  position: fixed;
  z-index: 10010;
  width: 100%;
  height: 60px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 0px 50px;
  border-bottom: solid 1px rgba(112, 135, 158, 0.5) ;
}



.name{
  font-size: 24px;
  line-height: 28.8px;
  color: #70879E;
  font-weight: 500;
  cursor: pointer;
}
.header-links{
  height: 100%;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links{
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 19.2px;
  color: #70879E;
  border-left:solid 1px rgba(112, 135, 158, 0.5) ;
  cursor: pointer;

  transition: background-color 0.3s ease;
}
.link4{
  border-right:solid 1px rgba(112, 135, 158, 0.5) ;
}
.links:hover{
  color: #D7AC63;
  background-color: rgba(255, 255, 255, 0.1);

}
.header-contact{
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left:solid 1px rgba(112, 135, 158, 0.5) ;
  color: #70879E;
  font-size: 16px;
  line-height: 19.2px;
  cursor: pointer;
  font-weight: 400;
  transition: background-color 0.3s ease;
}
.header-contact:hover{
  color: #D7AC63;
  background-color: rgba(255, 255, 255, 0.1);

}

.header {
    transition: background-color 0s ease;
}






/* hello section css */

.main-hello{
  margin-top: 60px;
  position: relative;
  z-index: 1000;
  height: calc(100vh - 60px - 50px);
  width: 100%;
  padding: 0px 80px;
  display: flex;
  align-items: center;
  background-color: transparent;


}
.hero-hello{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.role{
  width: 55%;
  height: 60vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 3px;
}
.intro{
  font-size: 16px;
  line-height: 16.8px;
  color: #8095AB;
  font-weight: 500;
  margin-bottom: 15px;
  opacity: 0; 
  animation: slideFromTop 1s ease forwards;
  animation-delay: .2s; 
}
.hello-name{
  font-size: 86px;
  color: white;
  letter-spacing: -5px;
  line-height: 103.2px;
  height: 103.188px;
  padding: 0;
  font-weight: 600;
  margin-bottom: 15px;
  opacity: 0; 
  animation: slideFromTop 1s ease forwards;
  animation-delay: .2s; 
  word-spacing: -20px;
  pointer-events: none;
}
.hello-desc {
  font-size: 20px;
  line-height: 32px;
  color: #7FCAFF;
  margin-left: 5px;
  opacity: 0; 
  animation: slideFromTop 1s ease forwards;
  animation-delay: .2s; 
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.main-Btn1 button{
  margin-top: 20px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding: 5px;
  outline: none;
  background-color: transparent;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  color: #ffffff;
  opacity: 0; 
  animation: slideFromTop 1s ease forwards;
  animation-delay: .2s; 
}
.main-Btn2{
  margin-top: 15px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding: 5px;
  outline: none;
  background-color: transparent;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  color: #ffffff;
  border-left: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0; 
  animation: slideFromTop 1s ease forwards;
  animation-delay: .2s; 
  


}
.main-Btn2:hover{
  color: #ffbb47;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);

}
button:hover{
  color: #ffbb47;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);

}





.hello-image{
  position: relative;
  z-index: 1000;
  width: 40%;
  height: 60vh;
  display: flex;
  justify-content: end;
  align-items: last baseline;
}
.hero-image {
  width: 80%;
  filter: brightness(0.9);
  animation: zoomIn 1s ease forwards, floatImage 2.7s ease-in-out infinite, fadeIn 1s ease forwards;
  animation-delay: .5s;
  opacity: 0;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}






/* footer section */


.footer{
  position: relative;
  z-index: 1009;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 50px;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
}

.socials{
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.find{
  width: 137px;
  height: 100%;
  font-size: 16px;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  pointer-events: none;

  
}
.social{
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
  cursor: pointer;

}
.social:hover{
  background-color: rgba(255, 255, 255, 0.1);

}
.social:hover .fa-brands {
  color: #ffbb47;
}
.socialast{
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.socialast:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
.socialast:hover .fa-brands {
  color: #ffbb47;
}
.sociolink{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}



.anifooter{
  width: 70%;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  pointer-events: none;

}



/* about page section */


.about-main{
  position: relative;
  z-index: 1009;
  width: 100%;
  background-color: transparent;
  display: flex;

}
.left{
  padding: 35px 50px;
  margin-top: 60px;
  width: 70%;
  border-right:solid 1px rgba(112, 135, 158, 0.5) ;


}
.aboutTitle{
  font-size: 22px;
  line-height: 24px;
  color: white;
}
.aboutTitleDesc{
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #779FC7;
  letter-spacing: 0.16px;
  line-height: 25.4px;
  margin-bottom: 35px;
}
.selfDetails{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  gap: 40px;
  

}
.profileImg{
  width: 100%;
  position: relative;
  z-index: 1009;
}

.selfImage{
  width: 13%;
  border-radius: 50%;
  border: solid 1px rgba(255, 255, 255, 0.2);
  

}
.leftSelfDetails{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: #7FCAFF;
}
.leftSelfDetails span{
  font-weight: 700;
  color: white;
}
.rightSelfDetails{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: #7FCAFF;
}
.rightSelfDetails span{
  font-weight: 700;
  color: white;
}
.highlights{
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
  width: 85%;
}
.highLogo{
  height: 50px;
  width: 65px;
  background-color: #12171F;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 1009;
}
.fontHighLogo{
  font-size: 20px;
  color: #70879E;
}

.highTitleAndDesc{
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 7px;
}
.highTitle{
  font-size: 16px;
  line-height: 19px;
  color: white;
}
.highDesc{
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.16px;
  color: #8095AB;
}










.right{
  padding: 35px 50px 35px 20px;
  margin-top: 60px;
  width: 30%;
}
.eduTitle{
  font-size: 20px;
  line-height: 24px;
  color: white;
}
.eduDesc{
  font-size: 14px;
  line-height: 16px;
  color: #779FC7;
  margin-top: 15px;
}
.eduBox{
  margin-top: 20px;
  position: relative;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.05);
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  animation: slideInFromRight 1s ease forwards;
  animation-delay: 0s;
  cursor: pointer;
}
.eduBox:hover{
  background-color: rgb(18, 23, 31);
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.qualification{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qualification h1{
  color: white;
  font-size: 14px;
}
.college{
  margin-top: 10px;
  color: #779FC7;
  font-size: 13px;
}
.eduDesc{
  margin-top: 5px;
  color: #8095AB;
  font-size: 11px;
}
.firstbox{
  margin-bottom: 20px;
}





/* skill page section */


.skill-main{
  position: relative;
  width: 100%;
  height: 130vh;
  background-color: transparent;
  padding: 60px 0px;
}


.maincontainer{
  position: absolute;
  width:180px;
  height: 160px;
  background: none;
  top: 17%;
  left: 13%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  cursor: pointer;
  animation: floatImage 2.7s ease-in-out infinite, fadeIn .3s ease forwards;
  animation-delay: .1s;
  opacity: 0;
}
.maincontainer2{
  position: absolute;
  width:180px;
  height: 160px;
  background: none;
  top: 17%;
  left: 28%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  cursor: pointer;
  animation: floatImage 2.7s ease-in-out infinite, fadeIn .3s ease forwards;
  animation-delay: .2s;
  opacity: 0;
}
.maincontainer3{
  position: absolute;
  width:180px;
  height: 160px;
  background: none;
  top: 17%;
  left: 43%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  cursor: pointer;
  animation: floatImage 2.7s ease-in-out infinite, fadeIn .3s ease forwards;
  animation-delay: .3s;
  opacity: 0;
}
.maincontainer4{
  position: absolute;
  width:180px;
  height: 160px;
  background: none;
  top: 17%;
  left: 58%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  cursor: pointer;
  animation: floatImage 2.7s ease-in-out infinite, fadeIn .3s ease forwards;
  animation-delay: .4s;
  opacity: 0;
}
.maincontainer5{
  position: absolute;
  width:180px;
  height: 160px;
  background: none;
  top: 17%;
  left: 73%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  cursor: pointer;
  animation: floatImage 2.7s ease-in-out infinite, fadeIn .3s ease forwards;
  animation-delay: .5s;
  opacity: 0;
}
.maincontainer6{
  position: absolute;
  width:180px;
  height: 160px;
  background: none;
  top: 40%;
  left: 13%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  cursor: pointer;
  animation: floatImage 2.7s ease-in-out infinite, fadeIn .3s ease forwards;
  animation-delay: .2s;
  opacity: 0;
}
.maincontainer7{
  position: absolute;
  width:180px;
  height: 160px;
  background: none;
  top: 40%;
  left: 28%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  cursor: pointer;
  animation: floatImage 2.7s ease-in-out infinite, fadeIn .3s ease forwards;
  animation-delay: .4s;
  opacity: 0;
}
.maincontainer8{
  position: absolute;
  width:180px;
  height: 160px;
  background: none;
  top: 40%;
  left: 43%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  cursor: pointer;
  animation: floatImage 2.7s ease-in-out infinite, fadeIn .3s ease forwards;
  animation-delay: .6s;
  opacity: 0;
}
.maincontainer9{
  position: absolute;
  width:180px;
  height: 160px;
  background: none;
  top: 40%;
  left: 58%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  cursor: pointer;
  animation: floatImage 2.7s ease-in-out infinite, fadeIn .3s ease forwards;
  animation-delay: .8s;
  opacity: 0;
}
.maincontainer10{
  position: absolute;
  width:180px;
  height: 160px;
  background: none;
  top: 40%;
  left: 73%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  cursor: pointer;
  animation: floatImage 2.7s ease-in-out infinite, fadeIn .3s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}
.maincontainer11{
  position: absolute;
  width:180px;
  height: 160px;
  background: none;
  top: 63%;
  left: 43.2%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  cursor: pointer;
  animation: floatImage 2.7s ease-in-out infinite, fadeIn .3s ease forwards;
  animation-delay:1.2s;
  opacity: 0;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}







.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all .3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.03);

}

.thecard:hover{
  transform: rotateY(180deg);
}
.thefront img{
  width: 35%;
  z-index: 1020;
}

 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: transparent;
  border-radius: 10px;
  /* border: solid #192633 3.5px; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: transparent;
  border-radius: 10px;
  border: solid #70879E 3.5px;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.skilldesc{
  font-size: 10px;
}
.fullline{
  position: relative;
  width: 100%;
  height: 8px;
  background-color: #70879E;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  

}
.progress{
  position: absolute;
  margin-top: -3px;
  width: 95%;
  height: 15px;
  background-color: #f16529;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.percentage{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: solid 5px #f16529;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  margin-top: 25px;
  left: 30%;
  font-size: 13px;
}
.progress2{
  position: absolute;
  margin-top: -3px;
  width: 90%;
  height: 15px;
  background-color: #1172b8;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.percentage2{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: solid 5px #1172b8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  margin-top: 25px;
  left: 30%;
  font-size: 13px;

}
.progress3{
  position: absolute;
  margin-top: -3px;
  width: 80%;
  height: 15px;
  background-color: #563d7c;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.percentage3{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: solid 5px #563d7c;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  margin-top: 25px;
  left: 30%;
  font-size: 13px;

}

.progress4{
  position: absolute;
  margin-top: -3px;
  width: 80%;
  height: 15px;
  background-color: #44a8b3;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.percentage4{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: solid 5px #44a8b3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  margin-top: 25px;
  left: 30%;
  font-size: 13px;
}

.progress5{
  position: absolute;
  margin-top: -3px;
  width: 83%;
  height: 15px;
  background-color: #f7df1e;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.percentage5{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: solid 5px #f7df1e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  margin-top: 25px;
  left: 30%;
  font-size: 13px;
}

.progress6{
  position: absolute;
  margin-top: -3px;
  width: 50%;
  height: 15px;
  background-color: #00c0e4;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.percentage6{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: solid 5px #00c0e4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  margin-top: 25px;
  left: 30%;
  font-size: 13px;
}

.progress7{
  position: absolute;
  margin-top: -3px;
  width: 10%;
  height: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.percentage7{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: solid 5px white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  margin-top: 25px;
  left: 30%;
  font-size: 13px;
}

.progress8{
  position: absolute;
  margin-top: -3px;
  width: 70%;
  height: 15px;
  background-color: #ff7262;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.percentage8{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: solid 5px #ff7262;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  margin-top: 25px;
  left: 30%;
  font-size: 13px;
}

.progress9{
  position: absolute;
  margin-top: -3px;
  width: 10%;
  height: 15px;
  background-color: #57a444;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.percentage9{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: solid 5px #57a444;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  margin-top: 25px;
  left: 30%;
  font-size: 13px;
}

.progress10{
  position: absolute;
  margin-top: -3px;
  width: 10%;
  height: 15px;
  background-color: #13aa52;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.percentage10{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: solid 5px #13aa52;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  margin-top: 25px;
  left: 30%;
  font-size: 13px;
}

.progress11{
  position: absolute;
  margin-top: -3px;
  width: 70%;
  height: 15px;
  background-color: #3e75c3;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.percentage11{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: solid 5px #3e75c3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  margin-top: 25px;
  left: 30%;
  font-size: 13px;
}









/* Project page section */

.project-main{
  position: relative;
  z-index: 1009;
  width: 100%;
  background-color: transparent;
  display: flex;
  margin-top: 60px;
 
}
.left-project{
  width: 21%;
  border-right:solid 1px rgba(112, 135, 158, 0.5) ;
}
.project-title{
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom:solid 1px rgba(112, 135, 158, 0.5) ;
}
.project-names{
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: center;
  padding-top: 20px;
}
.pname{
  width: 80%;
}
.projectList{
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  height: 60px;
  width: 100%;
 
}
.folder{
  color: #7FCAFF;
}

.proname{
  font-size: 16px;
  line-height: 19px;
  color:#7FCAFF ;
  cursor: pointer;
  display: flex;
  gap: 25px;
}
.proname:hover{
  color: white;
}






.right-project{
  width: 79%;
  height: 100%;
  padding: 30px;
}


.projname{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  color: white;
  line-height: 28px;
  width: 500px;

}
.prolink{
  width: 60px;
  font-size: 12px;
  cursor: pointer;
  color: #7FCAFF;
  border:solid 1px rgba(112, 135, 158, 0.5) ;
  border-radius: 5px ;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prolink:hover{
  color: white;
  border:solid 1px rgba(255, 255, 255, 0.5) ;
}
.prodate{
  font-size: 16px;
  line-height: 19px;
  color: #8095AB;
  margin-top: 10px;
}
.projectImage {
  width: 50%;
  height: 150px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  background-image: url("./assets/carrent.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0; /* Initially hide the image */
  animation: slideInFromTop 1s ease forwards; /* Apply the animation */
  animation-delay: 0s; /* Delay the animation */
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.intropro{
  font-size: 20px;
  line-height: 24px;
  color: white;
  margin-top: 20px
}
.projectDesc{
  font-size: 16px;
  line-height: 25px;
  color: #8095AB;
  width: 670px;
  margin-top: 10px;
}
.task{
  font-size: 20px;
  line-height: 24px;
  color: white;
  margin-top: 20px
}
.taskDesc{
  font-size: 16px;
  line-height: 25px;
  color: #8095AB;
  margin-top: 10px;
}

.tools{
  position: absolute;
  z-index: 1000;
  top: 160px;
  left: 1040px;
  width: 280px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.languages{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  animation: slideInFromRight 1s ease forwards;
  animation-delay: 0s;
  margin-bottom: 10px;
  cursor: pointer;
}
.languages:hover{
  background-color: rgb(18, 23, 31);
}
.langtitle{
  font-size: 16px;
  line-height: 19px;
  color: white;
}
.langname{
  font-size: 12px;
  line-height: 14px;
  color: #779FC7;
  margin-top: 10px;
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.projectHide{
  display: none;
}

.show-projectHide{
  display: block;
}


.projectImage2{
  width: 50%;
  height: 150px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  background-image: url("./assets/crypto.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0; /* Initially hide the image */
  animation: slideInFromTop 1s ease forwards; /* Apply the animation */
  animation-delay: 0s; /* Delay the animation */
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.projectImage3{
  width: 50%;
  height: 150px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  background-image: url("./assets/india.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0; /* Initially hide the image */
  animation: slideInFromTop 1s ease forwards; /* Apply the animation */
  animation-delay: 0s; /* Delay the animation */
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.projectImage4{
  width: 50%;
  height: 150px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  background-image: url("./assets/blog2.webp");
  background-size: cover;
  background-position: bottom;
  opacity: 0; /* Initially hide the image */
  animation: slideInFromTop 1s ease forwards; /* Apply the animation */
  animation-delay: 0s; /* Delay the animation */
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}








/* conatct page section */
form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-main{
  position: relative;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 60px;
}
.titleContact{
  font-size: 36px;
  line-height: 43px;
  color: white;
  margin-top: 70px;
}
.conatctDesc{
  font-size: 16px;
  line-height: 22px;
  color: #8095AB;
  width: 479px;
  margin-top: 25px;
}
.email{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  height: 36px;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  border: solid 1px rgba(255, 255, 255, 0.5);
}

.email{
  pointer-events: none;

}
.emailLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.emailLog{
  color: #70879E;
  font-size: 20px;

}
.emailText{
  font-size: 16px;
  line-height: 19px;
  color: #70879E;
}

.nameInpt{
  width: 618px;
  height: 52px;
  border: none;
  outline: none;
  margin-top: 30px;
  border-radius: 5px;
  padding: 16px;
  background-color: #090D14;
  color: white;

}
.nameInpt:focus::placeholder {
  color: transparent;
}

.emailInpt{
  width: 618px;
  height: 52px;
  border: none;
  outline: none;
  margin-top: 10px;
  border-radius: 5px;
  padding: 16px;
  color: white;
  background-color: #090D14;
}
.emailInpt:focus::placeholder {
  color: transparent;
}
.textdesc{
  width: 618px;
  height: 250px;
  border: none;
  outline: none;
  margin-top: 10px;
  border-radius: 5px;
  padding: 16px;
  color: white;
  background-color: #090D14;
}
.textdesc:focus::placeholder {
  color: transparent;
}
.nameInpt:focus {
  border: white solid 1px;
}
.emailInpt:focus {
  border: white solid 1px;
}
.textdesc:focus {
  border: white solid 1px;
}
.submitBtnlast{
  font-weight: 600;
  font-size: 14px;
  width: 618px;
  height: 52px;
  background-color: #192633;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  margin-bottom: 70px;
  transition: background-color 0.3s ease;
}
.submitBtnlast:hover {
  background-color: #192633;
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.submitBtnlast:active {
  transform: scale(0.95);
}





.success-popup {
  margin-top: 500px;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 14px;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}

.loader {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  vertical-align: middle;
  margin-left: 8px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

